<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- requirePermission false, to allow writing to logfile once running from IIS -->
		<section name="log4net" 
						 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" 
						 requirePermission="false"
						 />
	</configSections>
	
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Make sure that the application has permissions to this directory -->
			<file value="d:\downloads\logs\roomblocks.local.image.log.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>

	<!-- Added to allow log4net access to write to the log files 
	     Not tested!! And the better solution is to place the log file
			 in a directory that this application has the permissions to write to it-->
	<!-- authentication mode="Windows" -->
	<!-- identity impersonate="true" -->

	<connectionStrings/>

	<appSettings>
    <add key="crmconnection" value="Url=http://devsvr:5555/BCMC; Username=Administrator; Password=Password1"/>

		<!-- Temporary Settings for out-of-sync dev server ONLY!!!-->
		<add key="missing_entities_list" value="bcmc_holidaycalendar"/>
		<add key="development_server" value=""/>

		
	<!--Logger Settings-->
	<add key="level" value="INFO"/>
	<add key="LogFileName" value="BCMC Room Block Logger"/>
	<add key="maxRollbackSize" value="10"/>
    <add key="maximumFileSize" value="10MB"/>
    <add key="datePattern" value=".yyyy-MMM-dd"/>
    <add key="conversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
		
		
    <!-- CRM Entity1 Field Name-->
    <add key="new_arrivaldate" value="new_arrivaldate"/>
    <add key="new_departuredate" value="new_departuredate"/>
    <!-- CRM Entity2 Field Name-->
    <add key="new_name" value="new_name"/>
    <add key="new_week" value="new_week"/>
    <add key="roomblockdate" value="roomblockdate"/>
    <add key="new_originalpeak" value="new_originalpeak"/>
    <add key="new_originalroomblock" value="new_originalroomblock"/>
    <add key="new_percentofpeak" value="new_percentofpeak"/>
    <add key="new_currentroomblock" value="new_currentroomblock"/>
    <add key="new_opportunity_new_roomblockpatterid" value="new_opportunity_new_roomblockpatterid"/>

	
	<add key="testingRealRecords" value="1"/><!-- i.e. what actually landed up in the db -->
		
	<add key="testing" value=""/>	<!--- Set to '1' to enable the debug/test interface. NOTE NECESSARY REALLY ANYMORE WITH testingRealRecords switch above-->
	<add key="testingActualized" value="1"/><!-- SCREEN SETTINGS Overrides this Value 0 or 1 or blank(take from db) -->
	<add key="testingActualizedPrior" value=""/><!-- THESE override any screen settings. Provided it is ACTUALIZED-->
	<add key="testingActualizedPost" value=""/><!-- THESE override any screen settings. Provided it is ACTUALIZED-->

	<add key="testingActualizedEntryComplete" value=""/><!--no need to click on crm form for testing... -->

		
	<add key="ShowStatusBar" value=""/><!-- show statusbar below grid [1 - show]-->
	<add key="ShowAddDayBtns" value="1"/><!-- show add remove actual day buttons [1 - show]-->

	<!-- Set to the guid for Boston in production -->
	<add key="eventSite_History_CompetitorCity_Guid" value="E17B99F5-6CA7-E311-807F-534E57000000"/>


	</appSettings>
	
  <startup />
	
  <system.web>
    <pages theme="BCMC" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0">
				<assemblies>
					<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				</assemblies>
	 </compilation>
	</system.web>
</configuration>